<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		@page {
            size: letter landscape;
        }
        body{ font-size:8px; }
		th, td{ padding:5px; padding-bottom:0px; text-align: center; }
	</style>
</head>
<body>
	<table border="1">
		<tr>
			<th style="text-align: left; " colspan="16">SEA SERVICE (8 Vessels)</th>
		</tr>
		<tr>
			<th>Vessel Name</th>
			<th>Vessel Type</th>
			<th>Vessel Flag</th>
			<th>GRT</th>
			<th>DWT</th>
			<th>Year Built</th>
			<th>Engine Type</th>
			<th>HP</th>
			<th>KW</th>
			<th>Manning Agency</th>
			<th>Princiapl / Shipowner</th>
			<th>Date Joined</th>
			<th>Date Left</th>
			<th>Month/Days</th>
			<th>Rank</th>
			<th>Cause of Discharge</th>
		</tr>
		<tr>
			<td>SAM FALCON</td>
			<td>GEN. CARGO</td>
			<td>HONG KONG</td>
			<td>22,137</td>
			<td></td>
			<td>2011</td>
			<td>B & W</td>
			<td></td>
			<td>6,480</td>
			<td>BMC MANILA</td>
			<td>SAM SHIPPING</td>
			<td>11/21/2014</td>
			<td>05/24/2015</td>
			<td>184</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>CORAL CRYSTAL</td>
			<td>BULK</td>
			<td>PANAMA</td>
			<td>41,963</td>
			<td></td>
			<td>2012</td>
			<td>MT B & W</td>
			<td></td>
			<td>9,170</td>
			<td>IMS PHILS</td>
			<td>OMC TOKYO</td>
			<td>06/08/2013</td>
			<td>05/12/2014</td>
			<td>545</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>ATLAS ISLAND</td>
			<td>BULK</td>
			<td>PANAMA</td>
			<td>39,737</td>
			<td></td>
			<td>2008</td>
			<td>HIT B & W</td>
			<td></td>
			<td>13,200</td>
			<td>IMS PHILS</td>
			<td>IMS TOKYO</td>
			<td>06/12/2012</td>
			<td>03/25/2013</td>
			<td>286</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>GRAND ANEMI</td>
			<td>BULK</td>
			<td>MALTA</td>
			<td>41,688</td>
			<td></td>
			<td>1994</td>
			<td>GRNDZULZER</td>
			<td>19,080</td>
			<td></td>
			<td>BMC MANILA</td>
			<td>STANFORD NAV</td>
			<td>10/04/2011</td>
			<td>04/13/2012</td>
			<td>192</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>VENUS N</td>
			<td>BULK</td>
			<td>PANAMA</td>
			<td>24,609</td>
			<td></td>
			<td>1995</td>
			<td>B & W</td>
			<td>9,800</td>
			<td></td>
			<td>BMC MANILA</td>
			<td>NAFTILLOS</td>
			<td>04/04/2011</td>
			<td>08/13/2011</td>
			<td>131</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>NAVISION ALLIANCE</td>
			<td>GEN CARGO</td>
			<td>MAJURO</td>
			<td>17,430</td>
			<td></td>
			<td>1995</td>
			<td>SUECAKAVA</td>
			<td>8,000</td>
			<td></td>
			<td>BMC MANILA</td>
			<td>UNION COMMERCIAL</td>
			<td>06/10/2010</td>
			<td>02/08/2011</td>
			<td>243</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>ER BERGANO</td>
			<td>GEN CARGO</td>
			<td>MONROVIA</td>
			<td>32,613</td>
			<td></td>
			<td>2004</td>
			<td>HYUNDAI B & W</td>
			<td>10,795</td>
			<td></td>
			<td>WALLEM MLA</td>
			<td>E/R SCHFART</td>
			<td>06/24/2009</td>
			<td>01/27/2010</td>
			<td>217</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
		<tr>
			<td>VOGE CARRIER</td>
			<td>BULK</td>
			<td>MONROVIA</td>
			<td>85,706</td>
			<td></td>
			<td>1995</td>
			<td>MDE B & W</td>
			<td>21,650</td>
			<td></td>
			<td>WALLEM MLA</td>
			<td>WALLEM GERMANY</td>
			<td>06/21/2008</td>
			<td>03/09/2009</td>
			<td>261</td>
			<td>C/E</td>
			<td>FC</td>
		</tr>
	</table>
</body>
</html>